/* ---Black screen ---------- */
.darken-filter {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* login-modal -------------------------------- */
.login-modal {
  height: 77.7rem;
  width: 88.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 3fr);
  background-color: var(--primary-font-color);
  border: none;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 4rem 0 rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: relative;
}
/* nav - bar ---------------------------- */
.modal-nav-bar {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 8.2rem;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: rgb(0, 0, 0);
  z-index: 3;
}

.myAccount-box {
  height: 100%;
  margin-right: 1.5rem;
  -webkit-text-stroke: black 0.85px;
}

.myStats-box {
  height: 100%;
  margin-left: 1.5rem;
  -webkit-text-stroke: black 0.85px;
}

.modal-back-btn {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}
/* header ---------------------------------------- */
.modal-header {
  height: 23.7rem;
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background: url("../assets/images/header_bg.png") no-repeat center
    center/cover;
}

.modal-gunEdge-img {
  position: absolute;
  right: 13.2rem;
  top: 27.7rem;
}
.modal-user-avatar-container {
  position: absolute;
  left: 5.4rem;
  top: 18.5rem;
}
.modal-user-avatar {
  background-color: #266cd7;
  height: 13rem;
  width: 13rem;
  border: 0.5rem solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-guest-text-icon {
  position: absolute;
  top: 11.6rem;
  left: 2.5rem;
}

/* showcase ================================================ */
.modal-showcase-container {
  display: flex;
  column-gap: 7rem;
  width: 100%;
  height: 50rem;
  padding: 9.3rem 0rem 4.2rem 5.16rem;
}

.modal-form-container {
  display: flex;
  width: 30rem;
}

.modal-create-account {
  height: 7.56rem;
  width: 100%;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

h3 + .input-box {
  padding: 1.3rem;
}

form .password-validation-ul {
  display: flex;
  margin-top: 0.4rem;
  justify-content: space-around;
}

form li {
  display: flex;
  font-family: var(--placeholder-form-font);
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.eyecon {
  width: 2.6rem;
  height: 2rem;
}
.modal-avatars-container {
  display: flex;
  flex-direction: column;
}

.modal-avatars {
  width: 43.5rem;
  height: 29.4rem;
  display: grid;
  grid-template-columns: repeat(5, 7.5rem);
  grid-template-rows: repeat(3, 7.5rem);
  gap: 0.63rem;
}

.avatar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guest {
  border: 5px solid #000;
  background: #266cd7;
}
#guest {
  background: url("../assets/images/matrix_icons_squares/guest.png") no-repeat
    center center/cover;
  width: 4.2rem;
  height: 4.9rem;
  flex-shrink: 0;
}

.head-1 {
  border: 5px solid #266cd7;
  background: #266cd7;
}
#head-1 {
  background: url("../assets/images/matrix_icons_squares/head-1.png") no-repeat
    center center/cover;
  width: 5.1rem;
  height: 4.4rem;
  flex-shrink: 0;
}

.head-2 {
  border: 5px solid #d7ba26;
  background: #d7ba26;
}
#head-2 {
  background: url("../assets/images/matrix_icons_squares/head-2.png") no-repeat
    center center/cover;
  width: 4.914rem;
  height: 5.2rem;
  flex-shrink: 0;
}

.head-3 {
  border: 5px solid #26d74d;
  background: #26d74d;
}
#head-3 {
  background: url("../assets/images/matrix_icons_squares/head-3.png") no-repeat
    center center/cover;
  width: 5.2rem;
  height: 4.8rem;
  flex-shrink: 0;
}

.head-4 {
  border: 5px solid #d726d0;
  background: #d726d0;
}
#head-4 {
  background: url("../assets/images/matrix_icons_squares/head-4.png") no-repeat
    center center/cover;
  width: 5.98rem;
  height: 5.2rem;
  flex-shrink: 0;
}

.head-5 {
  border: 5px solid #d72626;
  background: #d72626;
}
#head-5 {
  background: url("../assets/images/matrix_icons_squares/head-5.png") no-repeat
    center center/cover;
  width: 5.3rem;
  height: 4.7rem;
  flex-shrink: 0;
}

.head-6 {
  border: 5px solid #9326d7;
  background: #9326d7;
}
#head-6 {
  background: url("../assets/images/matrix_icons_squares/head-6.png") no-repeat
    center center/cover;
  width: 5.1rem;
  height: 5rem;
  flex-shrink: 0;
}

.molotov {
  border: 5px solid #d72626;
  background: #d72626;
}
#molotov {
  background: url("../assets/images/matrix_icons_squares/molotov.png") no-repeat
    center center/cover;
  width: 2.8rem;
  height: 5.29rem;
  transform: rotate(25.254deg);
  flex-shrink: 0;
}

.tnt {
  border: 5px solid #d7ba26;
  background: #d7ba26;
}
#tnt {
  background: url("../assets/images/matrix_icons_squares/tnt.png") no-repeat
    center center/cover;
  width: 2.677rem;
  height: 4.82rem;
  transform: rotate(-11.923deg);
  flex-shrink: 0;
}

.bomb {
  border: 5px solid #26d74d;
  background: #26d74d;
}
#bomb {
  background: url("../assets/images/matrix_icons_squares/bomb.png") no-repeat
    center center/cover;
  width: 4.71rem;
  height: 4.87rem;
  flex-shrink: 0;
}

.coming-soon p {
  height: 2.2rem;
  width: 3.8rem;
}

/* .modal-create-account-container {
  
} */

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 23.6rem;
  border-radius: 0.8rem;
  background: var(
    --green-button-outer,
    linear-gradient(180deg, #66fa73 0%, #0d8011 100%)
  );
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.6);
  border: 0.4rem solid #000;
}
.mid-btn-container {
  display: flex;
  justify-content: center;
  background: var(
    --green-button-inner,
    linear-gradient(180deg, #3dbe42 0%, #3bb827 100%)
  );
  border-radius: 0.8rem 0.8rem 0.4rem 0.4rem;
  width: 100%;
}

.create-account-btn {
  display: flex;
  height: 3.6rem;
  justify-content: center;
  flex-shrink: 0;
  color: var(--primary-font-color);
  background-color: #3bb827;
  -webkit-text-stroke: black 0.85px;
  font-family: var(--primary-font-family);
  font-size: 3rem;
  font-weight: var(--primary-font-weight);
  letter-spacing: 0.09rem;
  border: 1px #3bb827 solid;
}

/* classes to toggle dynamically between*/
.pass-valid {
  color: var(--correct-password-font-color);
}
.pass-invalid {
  color: var(--error-password-font-color);
}
.pass-hidden {
  background: url("../assets/images/pass-hidden.png") no-repeat center
    center/cover;
}
.pass-visible {
  background: url("../assets/images/pass-visible.png") no-repeat center
    center/cover;
}
/* hovering----------------------------- */

.input-box:hover {
  cursor: pointer;
}
.avatar-box:hover {
  cursor: pointer;
}
.btn-container:hover,
.mid-btn-container:hover,
.create-account-btn:hover {
  cursor: pointer;
}
.input-box:focus {
  outline: none;
}
